@charset "utf-8";
/* 제주맥주 메인 CSS - main.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);

/* 박스표시 */
body *{
    outline: 1px dashed gray;
}

/* 속박스 class */
.ibx{
    display: flex;
    /* flex-direction: row; */
    
    max-width: 90%;
    /* 최대 90% 보다 작아지면 auto */
    margin: 0 auto;
    /* 박스 중앙정렬 */
}

.ibx h2{
    text-align: center;
    font-size: 35px;
    color: lightseagreen;
    outline: none;
}

/* 1. 상단영역 */
.top{
    /* position: relative; */
    background-color: #000;
    height: 54px;
}

.gnb img{
    margin-bottom: -6px;
    width: 68px;
    height: 25px;
}

.gnb{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 50px;
    /* margin-right: 100px; */
    /* position: absolute; */
    line-height: 54px;
}

.gnb>ul{
    
    margin-top: 13px;
    display: flex;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
}
.gnb li a{
    font-size: 12px;
}
.gnb li{
    padding:0 20px 0 20px;
}
.gnb li:first-child{
    padding:0 5px 0 5px;
}
.gnb li:nth-child(2){
    padding:0 5px 0 5px;
}
.gnb li:nth-child(3){
    padding:0 5px 0 5px;
}
.gnb li:nth-child(4){
    padding:0 5px 0 5px;
}
.sideMenu{
    
    margin-left: auto;
    /* flex: 1; */
}




/* 2. 하단영역 */
.info{
    height: 396px;
}
/* 3. 메인영역 */
.slideBox{

}
.cont1{
    background: url(../images/3786860.jpg) no-repeat center/cover;
    height: 494px;
    /* height:947px; */
}

.icon>img{
    margin-top: 26px;
    width: 125px;
    /* height: 125px; */
}


.cont2{
    height: 197px;
}
.iconBox{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 40%;
}
.icon{
    padding: 0 35px;
}

.iconBox h3{
    font-size: 16px;
    text-align: center;
}
.ibx{
    width: 90%;
}




.cont3{
    /* height: 419px; */
    height: 513px;

}
.goodsBox{
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-self: center;

}

.goods{
    width: 25%;
    margin: 50px;
}


.goods p{
    font-size: 10px;
}
.goodsBox h3{
    font-size: 16px;
}
.goods>img{
    width: 100%;
    /* height: 60%; */
}




.cont4{
    background: url(../images/4014327.jpg) no-repeat center/cover;
    height: 500px;
    /* height: 1013px; */
}
.cont5{
    height: 429px;
}
.cont6{
    height: 80px;
}