@charset "utf-8";
/* 보그 PJ 메인 CSS-main */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 로그인 서브 컨텐츠박스 */
.scont {
    padding-bottom: 100px;
}


/* 1-1.서브타이틀 */
.stit {
    font-family: pist;
    font-size: 50px;
    padding: 40px 0 20px;
    text-align: center;
    font-weight: normal;
}

/* 2. 스와이퍼박스 */
.swiper {
    max-width: 1300px;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}